services:
  react-spa:
    build:
      context: ./react-spa
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      REACT_APP_LOGOUT_MINUTES: 60
      REACT_APP_CLIENT_ID: 404dae9d-aed8-4171-95ae-0e1ab3317a9a
      REACT_APP_AUTHORITY: https://jglab2.ciamlogin.com/9cf28bb0-79d1-4ef0-bdc0-170f670708f4
      REACT_APP_REDIRECT_URI: http://localhost:3001/
      REACT_APP_API_SCOPE: api://b31552fd-fb5a-4c61-9d87-0b54fa8905a0/API.Read

  vue-spa:
    build:
      context: ./vue-spa
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    environment:
      REACT_APP_LOGOUT_MINUTES: 60
      REACT_APP_CLIENT_ID: 404dae9d-aed8-4171-95ae-0e1ab3317a9a
      REACT_APP_AUTHORITY: https://jglab2.ciamlogin.com/9cf28bb0-79d1-4ef0-bdc0-170f670708f4
      REACT_APP_REDIRECT_URI: http://localhost:3001/
      REACT_APP_API_SCOPE: api://b31552fd-fb5a-4c61-9d87-0b54fa8905a0/API.Read

  nodejs-daily-tasks-api:
    build:
      context: ./nodejs-daily-tasks-api
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      JWK_URI: https://9cf28bb0-79d1-4ef0-bdc0-170f670708f4.ciamlogin.com/9cf28bb0-79d1-4ef0-bdc0-170f670708f4/discovery/v2.0/keys
      AUDIENCE: b31552fd-fb5a-4c61-9d87-0b54fa8905a0
      ISSUER: https://9cf28bb0-79d1-4ef0-bdc0-170f670708f4.ciamlogin.com/9cf28bb0-79d1-4ef0-bdc0-170f670708f4/v2.0