.redirect-container {
  background-color: black;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 9999;
}

.redirect-gif {
  width: 600px;      /* adjust as needed */
  height: auto;
}
